<div class="wrapper show" id="loading">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <div class="shadow"></div>
    <span>Loading</span>
</div>
<script src="/js/loading.js" type="text/javascript"></script>
</body>

</html>