body {
  background-color: #94d7f2;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container-cs {
  background-color: rgb(255, 255, 255);
  border-radius: 2vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-cs {
  padding: 0;
  margin: 0;
}
.img-cs {
  background-color: transparent;
  border: none;
}
.img-cs img {
  background-color: transparent;
  border: none;
}
.signup-cs .signup-container-cs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form-cs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup-form-cs input {
  margin: 2% 0;
  width: 80%;
  height: 40px;
  border-radius: 0.5vmax;
  border: 1px solid #94d7f2;
  text-align: center;
}
.signup-form-cs button {
  border: 1px solid #94d7f2;
  border-radius: 1vmax;
  outline: none;
  padding: 2% 10%;
  background-color: white;
  letter-spacing: 1px;
  color: #70c6e9;
  font-weight: bold;
}
.signup-form-cs button:hover {
  background-color: #94d7f2;
  color: white;
}
.login-error,
.login-success {
  padding: 5px 5px;
  text-align: center;
  border-radius: 0.5vmax;
}
.login-error {
  color: red;
  border: 1px solid red;
}
.login-success {
  color: rgb(75, 235, 75);
  border: 1px solid rgb(75, 235, 75);
}
@media (min-width: 768px) {
  .signup-form-cs button:active {
    background-color: #94d7f2;
    color: white;
  }
}
