@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap");
/* !------------------- */
body {
  background-color: #94d7f2;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-container-cs {
  background-color: rgb(255, 255, 255);
  border-radius: 2vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-cs {
  padding: 0;
  margin: 0;
}
.img-cs {
  background-color: transparent;
  border: none;
}
.img-cs img {
  background-color: transparent;
  border: none;
}
.signup-cs .signup-container-cs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form-cs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.signup-form-cs input {
  margin: 2% 0;
  width: 80%;
  height: 40px;
  border-radius: 0.5vmax;
  border: 1px solid #94d7f2;
  text-align: center;
}
.signup-form-cs button {
  border: 1px solid #94d7f2;
  border-radius: 1vmax;
  outline: none;
  padding: 2% 10%;
  background-color: white;
  letter-spacing: 1px;
  color: #70c6e9;
  font-weight: bold;
}
.signup-form-cs button:hover {
  background-color: #94d7f2;
  color: white;
}
.login-error,
.login-success {
  padding: 5px 5px;
  text-align: center;
  border-radius: 0.5vmax;
}
.login-error {
  color: red;
  border: 1px solid red;
}
.login-success {
  color: rgb(75, 235, 75);
  border: 1px solid rgb(75, 235, 75);
}
@media (min-width: 768px) {
  .signup-form-cs button:active {
    background-color: #94d7f2;
    color: white;
  }
}
/* !------------------- */

.user-profile {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.user-profile img {
  background-color: white;
  border-radius: 100%;
  width: 3rem;
}

.todo {
  width: 30%;
  height: 80%;
  border-radius: 1vmax;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo ul {
  list-style: none;
  padding: 0;
}
.todo ul li {
  color: white;
  background-color: #70c6e9;
  border-radius: 0.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Chivo Mono", monospace;
}

.todo ul li:hover {
  color: black;
  background-color: rgba(210, 214, 210, 0.541);
}
.todo-done {
  text-decoration: line-through;
  color: black !important;
  background-color: rgba(210, 214, 210, 0.541) !important;
}
.todo ul li .todo-delete {
  text-decoration: none;
  color: black;
  background-color: none;
  padding: 1% 2%;
}
.todo ul li .todo-delete:hover {
  color: red;
}
.todo-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #70c6e9;
}

.todo-submit {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #70c6e9;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}
.todo-submit:active {
  background-color: #08b6fa;
}

@media (max-width: 425px) {
  .todo {
    width: 90%;
  }
}
/* !------------------- */
.profile-body {
  background-color: white;
  border-radius: 1vmax;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.profile-body .backarrow {
  color: #70c6e9;
  position: absolute;
  top: 4%;
  left: 2%;
  width: 2%;
  height: 5%;
  background-color: rgba(226, 223, 223, 0.692);
  display: flex;
  align-self: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5vmax;
}
.profile-body .backarrow:hover {
  background-color: rgba(226, 223, 223, 0.973);
}
.profile-body h1 {
  text-transform: capitalize;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-container a {
  outline: none;
  margin: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  padding: 5px 8px;
  border-radius: 0.5vmax;
}

.profile-logout {
  border: 1px solid #70c6e9;
}
.profile-logout:hover {
  color: white;
  background-color: #70c6e9;
}
.profile-delete {
  border: 1px solid rgb(241, 88, 88);
}
.profile-delete:hover {
  color: white;
  background-color: rgb(241, 88, 88);
}
/* !------------------- */
.error-container {
  background-color: white;
  border-radius: 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.error-container img {
  background-color: transparent;
  border: none;
}

.error-container h1 {
  color: rgb(216, 15, 15);
  background-color: rgb(245, 98, 98);
  border: 2px solid rgb(238, 27, 27);
  border-radius: 1vmax;
}
.error-container a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 10px 15px;
  border-radius: 0.5vmax;
  margin: 0;
  border: 1px solid rgb(20, 185, 240);
  color: black;
}
.error-container a:hover {
  color: white;
  background-color: rgb(20, 185, 240);
}
