@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap");
.user-profile {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}
.user-profile img {
  background-color: white;
  border-radius: 100%;
  width: 3rem;
}

.todo {
  width: 30%;
  height: 80%;
  border-radius: 1vmax;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.todo ul {
  list-style: none;
  padding: 0;
}
.todo ul li {
  color: white;
  background-color: #70c6e9;
  border-radius: 0.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Chivo Mono", monospace;
}

.todo ul li:hover {
  color: black;
  background-color: rgba(210, 214, 210, 0.541);
}
.todo ul li .todo-delete {
  text-decoration: none;
  color: black;
  background-color: none;
  padding: 1% 2%;
}
.todo ul li .todo-delete:hover {
  color: red;
}
.todo-input {
  border: none;
  outline: none;
  border-bottom: 2px solid #70c6e9;
}

.todo-submit {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #70c6e9;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}
.todo-submit:active {
  background-color: #08b6fa;
}
@media (max-width: 425px) {
  .todo {
    width: 90%;
  }
}
