<%- include('../components/header.ejs'); -%>
    <div class="container error-container">
        <div class="w-25 h-25">
            <img src="/img/error.png" class="img-thumbnail" alt="error">
        </div>
        <h1 class="p-4 mb-4">
            <%= message %>
        </h1>
        <div class="mb-4">
            <a href="/login" class="error-login">Login Again</a>
            <a href="/signup" class="error-signup">Singup Again</a>
        </div>
    </div>


    <%- include('../components/footer.ejs'); -%>