<%- include('../components/header.ejs'); -%>
    <div class="container h-75 profile-body">
        <a href="/" class="backarrow"><i class="fa-solid fa-chevron-left"></i></a>
        <h1>
            <%= username %>
        </h1>
        <p class="mb-5">
            <%= email %>
        </p>
        <div class="btn-container w-100 ">
            <a href="/logout" class="profile-logout">logout</a>
            <a href="/delete" class="profile-delete">delete account</a>
        </div>
    </div>
    <%- include('../components/footer.ejs'); -%>