<%- include('../components/header.ejs'); -%>
    <div class="container h-75 profile-body">
        <h1>
            <%= username %>
        </h1>
        <p>
            <%= email %>
        </p>
        <a href="/logout"></a>
    </div>
    <%- include('../components/footer.ejs'); -%>