<%- include('../components/header.ejs'); -%>
  <div class="container-fluid signup-container-cs h-100">
    <div class="row w-100 h-100">
      <div class="col-md-6 img-cs my-3">
        <img src="/img/signup.svg" class="img-thumbnail w-100 h-100" alt="signup" />
      </div>
      <div class="col-md-6 signup-cs mb-4">
        <div class="w-100 h-100 signup-container-cs">
          <form action="/signup" method="post" class="signup-form-cs w-100">
            <input type="username" name="username" id="username" placeholder="Username" autocomplete="off" />
            <input type="email" name="email" id="email" placeholder="Email" required />
            <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required />
            <input type="password" name="cpassword" id="cpassword" placeholder="Confirm Password" autocomplete="off" />
            <button type="submit" class="my-3">SignUp</button>
            <pre>You already have account -> <a href="/login">Login</a> </pre>
          </form>
        </div>
      </div>
    </div>
  </div>
  <%- include('../components/footer.ejs'); -%>